<div id="newsContainer" class="container">
  <div id="newsHero" class="jumbotron">
    <h1>Mongo News Scraper</h1>
    <h2>Click scrape to view articles, mark as read and apply notes!</h2>
  </div>
  <div id="newsWrapper" class="clearfix">
    <div id="noScrapes">
      <h2>You don't have any scraped articles yet. Click the nav to scrape.</h2>
    </div>
    <div id="unRead" class="clearfix">
      <h3>Unread News!</h3>
        <div class="row mb-2">
          {{#each articles}}
            {{> articles/articles}}
          {{/each}}
        </div>
    </div>
  </div>
  </div>
  <div id="modal">
    <div id="scrapeAlert">
      <h2>Hooray: <span id="articlesScrapedAlert"></span> articles scraped</h2>
      <div class="loader"></div>
    </div>
    <div id="noteFormArea" class="clearfix">
      <form>
      	<input type="text" name="newsForm" id="noteForm"></input>
        <textarea type="text" name="bodyInput" id="noteBody"></textarea>
        <button type="submit" id="noteBTN" class="btn btn-outline-primary">Write a note</button>
      </form>
    </div>
  </div>
