#scrapeLink{
  /* float: right; */
  margin-top: 8px;
}
.buttonsBtm{
  clear:both;
  width:93%;
  border-top:1px solid rgba(0,0,0,.125);
  margin:10px 20px 0;
  padding:10px 20px;
  display: inline-block;
  text-align: center;
}
.card{
  display: inline-block;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  overflow: hidden;
}
.cardBody{
  float: left;
  width: 338px;
  height: auto;
  display: inline-block;
  padding: 20px;
}
.imgRight{
  float: left;
  width:200px;
  height: 230px;
  background-color:#777;
}
#noScrapes{
  text-align: center;
}
#modal{
  display:none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.9);
}
#scrapeAlert,
#noteFormArea{
  background-color: #FFF;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  width:390px;
  margin:50px auto;
  border-radius: 5px;
  padding:20px;
}
#scrapeAlert{
  height:150px;
}
#modal h2{
  text-align: center;
  font-size:28px;
  color:#999;
}
#noteFormArea label{
  font-size: 11px;
}
#noteFormArea hr{
  width:350px;
  color:#777;
}
#noteForm{
  margin-bottom: 7px;
  height: 36px;
}
#noteForm,
#noteBody{
  width:330px;
  border-color: #777;
  border: 1px solid #CCC;
  padding: 10px;
}
#noteBody{
  height:150px;
  resize: none;
}
#noteBTN{
  margin: 20px auto 0 auto;
  width: 220px;
  display: block;
}
.loader {
   border: 2px solid #f3f3f3; /* Light grey */
   border-top: 2px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 40px;
   height: 40px;
   animation: spin 1s linear infinite;
   margin:20px auto;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}
