<nav>
  <h2>Mongo Scraper</h2>
  <ul>
    <li id="homeLink"><a href="/">Home</a></li>
    <li id="savedLink"><a href="/">Saved Articles</a></li>
    <li id="scrapeLink"><a href="/">Scrape New Articles</a></li>
  </ul>
</nav>
