<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Mongo Scraper</a>
      </div>
      <ul class="nav navbar-nav">
        <li id="savedLink"><a href="/">Saved Articles</a></li>
      </ul>
      <button id="scrapeLink" type="button" class="btn btn-primary mt-2 mt-md-0">Scrape New Articles</button>
    </div>
</nav>
